<!DOCTYPE html>
<html lang="en-us" dir="ltr">
<head>
  <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Section # Section renders pages in section as definition list, using title and description. Optional param summary can be used to show or hide page summary
Example # {{&lt; section [summary] &gt;}} First Page First page # Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.">
<meta name="theme-color" media="(prefers-color-scheme: light)" content="#ffffff">
<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#343a40">
<meta name="color-scheme" content="light dark"><meta property="og:title" content="" />
<meta property="og:description" content="" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://gitlab.com/mike1sa/nw2.git/docs/shortcodes/section/" />

<title>Section | Nort West Line Boring</title>
<link rel="manifest" href="/mike1sa/nw2.git/manifest.json">
<link rel="icon" href="/mike1sa/nw2.git/favicon.png" >
<link rel="stylesheet" href="/mike1sa/nw2.git/book.min.33a48f5432973b8ff9a82679d9e45d67f2c15d4399bd2829269455cfe390b5e8.css" integrity="sha256-M6SPVDKXO4/5qCZ52eRdZ/LBXUOZvSgpJpRVz&#43;OQteg=" crossorigin="anonymous">
  <script defer src="/mike1sa/nw2.git/flexsearch.min.js"></script>
  <script defer src="/mike1sa/nw2.git/en.search.min.84c1bbdd0dd1aab749786f3521b071b0298d1592beaf0fadf7a9307a4b1161d5.js" integrity="sha256-hMG73Q3RqrdJeG81IbBxsCmNFZK&#43;rw&#43;t96kweksRYdU=" crossorigin="anonymous"></script>

  <script defer src="/mike1sa/nw2.git/sw.min.caac24bccddf310e6a3624072ab9aea13663427f9b159f951a85cb9db94aa990.js" integrity="sha256-yqwkvM3fMQ5qNiQHKrmuoTZjQn&#43;bFZ&#43;VGoXLnblKqZA=" crossorigin="anonymous"></script>
<link rel="alternate" type="application/rss+xml" href="https://gitlab.com/mike1sa/nw2.git/docs/shortcodes/section/index.xml" title="Nort West Line Boring" />
<!--
Made with Book Theme
https://github.com/alex-shpak/hugo-book
-->
  
</head>
<body dir="ltr">
  <input type="checkbox" class="hidden toggle" id="menu-control" />
  <input type="checkbox" class="hidden toggle" id="toc-control" />
  <main class="container flex">
    <aside class="book-menu">
      <div class="book-menu-content">
        
  <nav>
<h2 class="book-brand">
  <a class="flex align-center" href="/mike1sa/nw2.git/"><span>Nort West Line Boring</span>
  </a>
</h2>


<div class="book-search">
  <input type="text" id="book-search-input" placeholder="Search" aria-label="Search" maxlength="64" data-hotkeys="s/" />
  <div class="book-search-spinner hidden"></div>
  <ul id="book-search-results"></ul>
</div>












  



  
  <ul>
    
      
        <li class="book-section-flat" >
          
  
  

  
    <a href="/mike1sa/nw2.git/docs/example/" class="">About Us</a>
  

          
  <ul>
    
  </ul>

        </li>
      
    
      
        <li class="book-section-flat" >
          
  
  

  
    <span>Services</span>
  

          
  <ul>
    
      
        <li>
          
  
  

  
    <input type="checkbox" id="section-d3fc1bf6d66cd84b896a0af9f40cb1d5" class="toggle" checked />
    <label for="section-d3fc1bf6d66cd84b896a0af9f40cb1d5" class="flex justify-between">
      <a href="/mike1sa/nw2.git/docs/shortcodes/section/" class="active">Section</a>
    </label>
  

          
  <ul>
    
      
        <li>
          
  
  

  
    <a href="/mike1sa/nw2.git/docs/shortcodes/section/first-page/" class="">First Page</a>
  

        </li>
      
    
      
        <li>
          
  
  

  
    <a href="/mike1sa/nw2.git/docs/shortcodes/section/second-page/" class="">Second Page</a>
  

        </li>
      
    
  </ul>

        </li>
      
    
  </ul>

        </li>
      
    
  </ul>











  
<ul>
  
  <li>
    <a href="/mike1sa/nw2.git/posts/"  >
        Blog
      </a>
  </li>
  
  <li>
    <a href="https://themes.gohugo.io/hugo-book/"  target="_blank" rel="noopener">
        Hugo Themes
      </a>
  </li>
  
</ul>






</nav>




  <script>(function(){var e=document.querySelector("aside .book-menu-content");addEventListener("beforeunload",function(){localStorage.setItem("menu.scrollTop",e.scrollTop)}),e.scrollTop=localStorage.getItem("menu.scrollTop")})()</script>


 
      </div>
    </aside>

    <div class="book-page">
      <header class="book-header">
        
  <div class="flex align-center justify-between">
  <label for="menu-control">
    <img src="/mike1sa/nw2.git/svg/menu.svg" class="book-icon" alt="Menu" />
  </label>

  <strong>Section</strong>

  <label for="toc-control">
    
    <img src="/mike1sa/nw2.git/svg/toc.svg" class="book-icon" alt="Table of Contents" />
    
  </label>
</div>


  
  <aside class="hidden clearfix">
    
  
<nav id="TableOfContents">
  <ul>
    <li><a href="#section">Section</a>
      <ul>
        <li><a href="#example">Example</a></li>
      </ul>
    </li>
  </ul>
</nav>



  </aside>
  
 
      </header>

      
      
  <article class="markdown book-article"><h1 id="section">
  Section
  <a class="anchor" href="#section">#</a>
</h1>
<p>Section renders pages in section as definition list, using title and description. Optional param <code>summary</code> can be used to show or hide page summary</p>
<h2 id="example">
  Example
  <a class="anchor" href="#example">#</a>
</h2>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-tpl" data-lang="tpl"><span style="display:flex;"><span><span style="color:#75715e">{{</span><span style="color:#f92672">&lt;</span> <span style="color:#a6e22e">section</span> <span style="color:#f92672">[</span><span style="color:#a6e22e">summary</span><span style="color:#f92672">]</span> <span style="color:#f92672">&gt;</span><span style="color:#75715e">}}</span>
</span></span></code></pre></div><dl>

  <dt>
    <a href="/mike1sa/nw2.git/docs/shortcodes/section/first-page/">First Page</a>
  </dt>
  <dd class="markdown-inner">
    First page # Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </dd>
  
  <dt>
    <a href="/mike1sa/nw2.git/docs/shortcodes/section/second-page/">Second Page</a>
  </dt>
  <dd class="markdown-inner">
    Second Page # Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </dd>
  
</dl>

</article>
 
      

      <footer class="book-footer">
        
  <div class="flex flex-wrap justify-between">


  <div><a class="flex align-center" href="https://github.com/alex-shpak/hugo-book/commit/8e54fc657060d391424b9f99a0d9bf7f241a8b19" title='Last modified by mike1sa | December 19, 2023' target="_blank" rel="noopener">
      <img src="/mike1sa/nw2.git/svg/calendar.svg" class="book-icon" alt="Calendar" />
      <span>December 19, 2023</span>
    </a>
  </div>



  <div>
    <a class="flex align-center" href="https://github.com/alex-shpak/hugo-book/edit/main/exampleSite/content/docs/shortcodes/section/_index.md" target="_blank" rel="noopener">
      <img src="/mike1sa/nw2.git/svg/edit.svg" class="book-icon" alt="Edit" />
      <span>Edit this page</span>
    </a>
  </div>


</div>



  <script>(function(){function e(e){const t=window.getSelection(),n=document.createRange();n.selectNodeContents(e),t.removeAllRanges(),t.addRange(n)}document.querySelectorAll("pre code").forEach(t=>{t.addEventListener("click",function(){if(window.getSelection().toString())return;e(t.parentElement),navigator.clipboard&&navigator.clipboard.writeText(t.parentElement.textContent)})})})()</script>


 
        
      </footer>

      
  
  <div class="book-comments">

</div>
  
 

      <label for="menu-control" class="hidden book-menu-overlay"></label>
    </div>

    
    <aside class="book-toc">
      <div class="book-toc-content">
        
  
<nav id="TableOfContents">
  <ul>
    <li><a href="#section">Section</a>
      <ul>
        <li><a href="#example">Example</a></li>
      </ul>
    </li>
  </ul>
</nav>


 
      </div>
    </aside>
    
  </main>

  
</body>
</html>












